<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <%= favicon_link_tag("scissors.svg") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles/index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </body>
</html>
